# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Django
oaback/db.sqlite3
oaback/media/
oaback/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build outputs
oafront/dist/
